{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>are you admin?</title>
    <link rel = "icon" href =  "{% static 'icons/sg.jpg' %}" type = "image/jpg"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminbypass.css' %}">
</head>
<body>
    <div id='maindiv'>
        <h3>Log In into SG Photography</h3>
        <form action="adminbypass" method="post">
        {% csrf_token %}
        <input type="text" name="admincode" placeholder="Please enter your admin Code" required><br><br>
        <input type="submit"><br><br>
        
        </form>
    </div>
        
</body>
</html>