{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href =  "{% static 'icons/sg.jpg' %}" type = "image/jpg">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>Sg photography login</title>
</head>
<body>
    
  <div class='maindiv'>
    <h1 class="maincaption"><a href='/' id='h1sg'> Sg Photography </a></h1>
    <button class="hbtn" onclick="window.location.href='/'">Home</button>
    <button class="hbtn" onclick="window.location.href='/works'">Our Works</button>
    <button class="hbtn" onclick="window.location.href='/gallery'">Gallery</button>
  </div>
{% if user.is_authenticated %}
<div class='maindiv'>
<h1 style="width: auto;text-align: center;">You are already logged in </h1>
</div>
{% else %}
<div class='maindiv'>
<h3>Log In into SG Photography</h3>
<form action="forgotpassword" method="post">
{% csrf_token %}
<input type="text" name="username" placeholder="Username" required><br><br>

<input type="text" name="first_name" placeholder="First name" required><br><br>

<input type="text" name="last_name" placeholder="Last name" required><br><br>

<input type="password" name="password1" placeholder="New password" required><br><br>

<input type="password" name="password2" placeholder="Re-type new password" required><br><br>

<input type="submit"><br><br>

</form>
<a href="/acc/signup" style="text-decoration: none;">Don't have account? </a><br>

</div>
{% endif %}
{% for i in messages %}
<input type="hidden" value='{{i}}' id='x'>
<script>alert(document.getElementById('x').value)</script>
{% endfor %}
</body>
</html>