{% load static %}
<html>
<head>
<title>Login</title>
<link rel = "icon" href =  "{% static 'icons/sg.jpg' %}" type = "image/jpg"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>

  <div class='maindiv'>
    <h1 class="maincaption"><a href='/' id='h1sg'> Sg Photography </a></h1>
    <button class="hbtn" onclick="window.location.href='/'">Home</button>
    <button class="hbtn" onclick="window.location.href='/works'">Our Works</button>
    <button class="hbtn" onclick="window.location.href='/gallery'">Gallery</button>
    {% if user.is_authenticated %}
    <script>alert('You are already logged')</script>
    <button class="hbtn" onclick="window.location.href='/acc/logout'">Logout</button>
    {% endif %}
  </div>
{% if user.is_authenticated %}
<div class='maindiv'>
<h1 style="width: auto;text-align: center;">You are already logged in </h1>
</div>
{% else %}
<div class='maindiv'>
<h3>Log In into SG Photography</h3>
<form action="login" method="post">
{% csrf_token %}
<input type="text" name="username" placeholder="Username" required><br><br>

<input type="password" name="password" placeholder="Password" required><br><br>

<input type="submit"><br><br>

</form>
Don't have account? <a href="/acc/signup">click here</a>
Go to <a href="/">home</a>
</div>
{% endif %}
</body>
{% for i in messages %}
<input type="hidden" value='{{i}}' id='x'>
<script>alert(document.getElementById('x').value)</script>
{% endfor %}
</html>